<div class="container mt-4">
            <nav class="nav nav-pills nav-fill estmGreen">
                <a class="nav-item nav-link border-right" href="{{path('admin_etudiant_index')}}">Gestions des étudiants</a>
                <a class="nav-item nav-link border-right" href="{{path('admin_user_index')}}">Gestions des administrateur</a>
            </nav>
        </div>