<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        {% block stylesheets  %}
            {{encore_entry_link_tags('app')}}
        {% endblock %}

        
    </head>
    <body>
        {% include "shared/admin/_navbar.html.twig" %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{encore_entry_script_tags('app')}}
        {% endblock %}
    </body>
</html>
