{% extends 'admin/base.html.twig' %}

{% block title %}Administrez!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue dans l'Administration</h1>    
    </div>
{% endblock %}
