{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
    <div class="container body-begin">
        {% include "shared/_navPillClub.html.twig" with {'club': club} %}
    </div>
    <div class="container-fluid mt-4 my-3">
            <div class="container ">
                <div class="row">
                    {% for activity in activities %}
                        {% include "shared/_cardActivity.html.twig" with {'activity': activity } %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
