<div class="container mt-4">
    <nav class="nav nav-pills nav-fill estmBlue">
        <a class="nav-item nav-link border-right" href="{{path('amicale_index')}}">Acceuil</a>
        <a class="nav-item nav-link border-right" href="{{path('amicale_information_index')}}">Information</a>
         <a class="nav-item nav-link border-right" href="{{path('amicale_activity_index')}}">Activité</a>
    </nav>
</div>